#head {
}

body {
  background-attachment: fixed;
  background-color: black;
  background-image: url("./images/jedi-starfighter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-family: Arial;
  padding: 10px;
  margin: 10px;
  text-shadow: 2px 2px 4px black;
}

h2 {
  color: black;
  font-family: Arial;
  padding: 0;
  margin: 0;
}

.section {
  font-family: Arial;
  background-color: white;
  opacity: 0.8;
  color: black;
  padding: 10px;
  margin: 10px;
}

.section a {
  color: black;
}
